/* for default setting */
/* html,
body,
main {
    
} */

html,
body,
main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    justify-content: center;
}

/*panel */
.backbone-panel {
    border-radius: 5px;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255);
}

/* background color */
.background {
    background-image: linear-gradient(to right, #43c6ac, #f8ffae);
}

/* font settings */
.font-semi {
    font-weight: 600;
}

.font-18 {
    font-size: 18px;
}

.font-22 {
    font-size: 22px;
}

.font-32 {
    font-size: 32px;
}

/* nav bar */

.nav-bar {
    background-image: linear-gradient(to right, #43c6ac, #f8ffae);
}

.nav-bar a {
    text-decoration: none;
    color: #1b5e20;
}

.nav-bar span {
    color: #1b5e20;
}

/* main menu */

p.title {
    word-break: keep-all;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: lightgrey; /* color of the scroll thumb */
    border-radius: 100px; /* roundness of the scroll thumb */
}

/* chart analysis */
#body-parts-chart-div {
    visibility: visible;
}

#dashboard_div,
#dashboard2_div,
#dashboard3_div,
#dashboard4_div,
#dashboard5_div {
    visibility: hidden;
}
