/* for default setting */
/* html,
body,
main {
    
} */

html,
body,
main,
.fullscreen {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:hover {
    text-decoration: none;
}

.main-content {
    justify-content: center;
}

.header {
    /* flex: 0.1; */
    height: 8vh;
    border-bottom: 1px solid oldlace;
    box-shadow: 0 8px 5px 0px lightgrey;
}

.middle {
    /* flex: 1; */
    height: 89vh;
    overflow-y: auto;
}

.footer {
    /* flex: 0.05; */
    height: 3vh;
    border-top: 1px solid lightgrey;
}

.content-wrapper {
    display: flex;
    flex: 1;
}

.content-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btn-normal {
    border: 2px solid #2962ff;
    color: #2962ff;
    transition: 0.5s;
}

.btn-normal:hover {
    border: 2px solid white;
    background-color: #2962ff;
    color: white;
    transition: 0.5s;
}

.btn-custom-width {
    width: 200px;
}

/*panel */
.backbone-panel {
    border-radius: 5px;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255);
}

.content-panel {
    border-radius: 5px;
    border: 2px solid grey;
}

/* background color */
.background {
    background-color: #2962ff;
}

/* font settings */
.font-semi {
    font-weight: 600;
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-18 {
    font-size: 18px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-28 {
    font-size: 28px;
}

.font-32 {
    font-size: 32px;
}

.font-36 {
    font-size: 36px;
}

.font-grey {
    color: grey;
}

.font-red {
    color: red;
}

.font-white {
    color: white;
}

.font-green {
    color: #26a69a;
}

/* nav bar */
.nav-normal {
    display: block;
    width: 300px;
}

.nav-responsive {
    display: none;
    position: relative;
}

.nav-bar {
    background-color: #2962ff;
}

.nav-bar a:hover div span,
.nav-bar a:hover {
    color: black;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar span,
.nav-bar a {
    color: white;
    transition: 0.3s;
}

/* side nav responsive */

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2962ff;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidenav a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
}

.sidenav a,
.sidenav a span {
    transition: 0.3s;
}

.sidenav a:hover span,
.sidenav a:hover {
    color: black;
}

.sidenav a span {
    color: white;
}

.sidenav .title {
    display: flex;
    align-items: center;
}

.closebtn a {
    font-size: 50px;
}

.burger {
    margin-left: 10px;
}
/* main menu */

p.title {
    word-break: keep-all;
}

.material-icons.md-36 {
    font-size: 36px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: lightgrey; /* color of the scroll thumb */
    border-radius: 100px; /* roundness of the scroll thumb */
}

/* chart analysis */
#body-parts-chart-div {
    display: block;
}

#body_part_chart {
    display: block;
}

#description_chart,
#pain_level_chart,
#top_pain_chart,
#mood_chart,
#duration_chart {
    display: none;
}

#dashboard_div,
#dashboard2_div,
#dashboard3_div,
#dashboard4_div,
#dashboard5_div {
    display: none;
}

.main-menu {
    display: flex;
    flex-flow: column;
}

.main-menu-header {
    display: flex;
    justify-content: space-between;
}

.header-content {
    border-radius: 10px;
}

.header-content-a {
    background-image: linear-gradient(
        to bottom,
        #2962ff,
        #1a57ff,
        #094bff,
        #003dff,
        #002cff
    );
}

.header-content-c {
    border: 2px solid #2962ff;
    color: #2962ff;
    transition: 0.5s;
}

.header-content-c:hover {
    border: 2px solid white;
    color: white;
    background-image: linear-gradient(
        to bottom,
        #2962ff,
        #1a57ff,
        #094bff,
        #003dff,
        #002cff
    );

    transition: 0.5s;
}

.header-number {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu-title {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-menu-profile-container {
    display: flex;
    color: white;
}

.main-menu-profile {
    height: 10vh;
    width: 10vh;
}

.main-menu-profile img {
    height: 100%;
    width: 100%;
}

.main-menu-body {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-quick-start {
    display: flex;
    flex: 1;
}

.p-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-menu-img {
    flex: 1;
    height: 40vh;
    display: flex;
    align-items: center;
}

.main-menu-quick-start img {
    flex: 1;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.patient-list {
    padding-left: 50px;
    padding-right: 50px;
    overflow: auto;
}

.main-menu-children,
.main-menu-noti {
    flex: 1;
}

.main-menu-children {
    margin-right: 10px;
}

.main-menu-noti {
    margin-left: 10px;
}

@media only screen and (max-width: 1200px) {
    .main-menu-header {
        display: block;
        justify-content: flex-start;
    }

    .nav-normal {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    .main-menu-profile-container,
    .main-menu-children,
    .main-menu-noti {
        flex: 1;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 911px) {
    .main-menu-quick-start {
        display: block !important;
        padding-top: 30px;
    }
}

@media only screen and (max-width: 670px) {
    .patient-list-overflow {
        overflow-x: auto;
    }

    .patient-list {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* table responsive */
    .t-responsive {
        display: none;
    }
}

.patient-list-overflow {
    overflow-x: auto;
}

/* create patients form */
#patient-profile-form {
    display: block;
    transition: 0.5s;
}

#guardian-profile-form,
#patient-acc-form {
    display: none;
    transition: 0.5s;
}

/* validation error msg */
#p1,
#p2,
#p3,
#p3e2,
#p4,
#p5,
#g1,
#g2,
#g3,
#g3e2,
#g4,
#g4e2,
#g5,
#g6,
#g7,
#g7e2,
#g8,
#a1,
#a2,
#a3,
#e1 {
    display: none;
}

#a2e2 {
    display: block;
}

/* user profile */
.user-profile-card {
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 5px 2px gainsboro;
}

/* front page */

.card-front {
    background-color: #26a69a;
    color: white;
}

.card-front-center {
    flex: 4;
}

.card-front-bottom {
    flex: 1;
    background-color: #424242;
    color: white;
    width: fit-content;
}

.card-left {
    flex: 0.75;
}

.card-right {
    flex: 0.25;
}

.card-back-font {
    font-size: 12px;
}

@media only screen and (max-width: 478px) {
    .user-profile-card {
        width: 338px;
    }

    .card-back-font {
        font-size: 9px;
    }
}

.test {
    height: 100px;
}
